<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Forzar HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://www.geohabita.com/$1 [L,R=301]

  # 2. Forzar WWW
  RewriteCond %{HTTP_HOST} ^geohabita\.com [NC]
  RewriteRule ^(.*)$ https://www.geohabita.com/$1 [L,R=301]

  # 3. Si el archivo o carpeta existe, no reescribir
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # 4. React Router (SPA)
  RewriteRule ^ index.html [L]
</IfModule>