.aside {
  width: 260px;
  min-height: 100vh;
  background: linear-gradient(180deg, #0066cc, #4ebbd5);
  color: var(--white);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 0 18px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 1px;
}

.brand {
  color: #ffe600;
}

.icon {
  font-size: 70px;
  margin-bottom: 40px;
  color: white;
  filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.4));
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  margin-top: 20px;
}

.link {
  background: rgba(255, 255, 255, 0.1);
  padding: 14px 20px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  text-decoration: none;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
}

.linkIcon {
  font-size: 22px;
}

.link:hover {
  background: white;
  color: #0066cc;
  transform: translateX(5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.footer {
  font-size: 14px;
  opacity: 0.8;
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .brand {
  font-weight: 700;
  color: #ffe600;
}
